input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
}

label {
  display: block;
  background: white;
  border: 2px solid #6accba;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: #6accba;
}

input[type="radio"] + label {
  display: inline-block;
  background-color: #eee;
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background:  #6accba;
  color: hsla(215, 0%, 100%, 1);
}



.question-text {
  font-size: larger;
  font-weight: bold;
  color: #3f6072;
}
